BpmsIntegration/WebContent/wsdl/ProtocoloService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://restjersey.bpmsintegration.unimedfortaleza.com.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://restjersey.bpmsintegration.unimedfortaleza.com.br" xmlns:intf="http://restjersey.bpmsintegration.unimedfortaleza.com.br" xmlns:tns1="http://core.rs.ws.javax" xmlns:tns2="http://json.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://restjersey.bpmsintegration.unimedfortaleza.com.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://json.org"/>
   <import namespace="http://core.rs.ws.javax"/>
   <element name="buscar">
    <complexType>
     <sequence>
      <element name="issueJira" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarResponse">
    <complexType>
     <sequence>
      <element name="buscarReturn" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="xsd:anyType"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="buscarResponse">

      <wsdl:part element="impl:buscarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarRequest">

      <wsdl:part element="impl:buscar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="JSONException">

      <wsdl:part element="impl:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ProtocoloService">

      <wsdl:operation name="buscar">

         <wsdl:input message="impl:buscarRequest" name="buscarRequest">

       </wsdl:input>

         <wsdl:output message="impl:buscarResponse" name="buscarResponse">

       </wsdl:output>

         <wsdl:fault message="impl:JSONException" name="JSONException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProtocoloServiceSoapBinding" type="impl:ProtocoloService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="buscar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="JSONException">

            <wsdlsoap:fault name="JSONException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProtocoloServiceService">

      <wsdl:port binding="impl:ProtocoloServiceSoapBinding" name="ProtocoloService">

         <wsdlsoap:address location="http://localhost:8090/BpmsIntegration/services/ProtocoloService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
